<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Sv_GestionUsuarios</display-name>
    <servlet-name>Sv_GestionUsuarios</servlet-name>
    <servlet-class>controlador.Sv_GestionUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_GestionUsuarios</servlet-name>
    <url-pattern>/Sv_GestionUsuarios</url-pattern>
  </servlet-mapping>
  <display-name>Jewelry_Online</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Sv_ListarUsuarios</display-name>
    <servlet-name>Sv_ListarUsuarios</servlet-name>
    <servlet-class>controlador.Sv_ListarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_ListarUsuarios</servlet-name>
    <url-pattern>/Sv_ListarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sv_GestionUsuariosconFoto</display-name>
    <servlet-name>Sv_GestionUsuariosconFoto</servlet-name>
    <servlet-class>controlador.Sv_GestionUsuariosconFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_GestionUsuariosconFoto</servlet-name>
    <url-pattern>/Sv_GestionUsuariosconFoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sv_ModificarUsuarios</display-name>
    <servlet-name>Sv_ModificarUsuarios</servlet-name>
    <servlet-class>controlador.Sv_ModificarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_ModificarUsuarios</servlet-name>
    <url-pattern>/Sv_ModificarUsuarios</url-pattern>
  </servlet-mapping>
</web-app>